name: Build Fable Scraper

on:
  push:
    tags:
      - 'fable_scraper:v*'

env: 
  IMAGE: ghcr.io/${{ github.repository_owner }}/fable-scraper


jobs:
  build:
    name: Build and Push Fable Scraper Docker Image
    runs-on: ubuntu-latest
    permissions:
        contents: read
        packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Get version from tags
        id: get_version
        run: |
          VERSION=$(echo "${GITHUB_REF}" | sed 's/refs\/tags\/fable_scraper:v//')
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ env.IMAGE }}:latest
            ${{ env.IMAGE }}:v${{ env.VERSION }}